<!--<mat-action-list dense>-->
<div
  *ngFor="let example of examples"
  (click)="prepareQuery(example)"
  style="padding-bottom: 4px;"
>
  <button
    mat-button
    [title]="example.options.description"
    class="nr-example-description-button"
  >
    {{ example.options.title }}
  </button>
  <button
    class="nr-example-execute-button"
    mat-button
    [color]="methods.getColor(example.method)"
    (click)="triggerQuery($event, example)"
    [title]="'Click here to execute this ' + example.method + ' directly.'"
  >
    {{ example.method }}
  </button>
</div>
<!--</mat-action-list>-->
