<div class="nr-welcome">
  <img src="../assets/logo.png" alt="noREST logo" />
  <h1>Welcome to the <span class="nr-green-text">no</span>REST playground</h1>
  <div>
    <p>
      This <i>notonly.rest</i> page is the playground to try out the reference
      implementation of <span class="nr-green-text">no</span>REST, a no-code
      (<span class="nr-green-text">n</span>ot
      <span class="nr-green-text">o</span>nly) RESTfull API. More information
      about the <span class="nr-green-text">no</span>REST project can be found
      on its
      <a href="https://github.com/janhommes/noREST">Github</a>
      page.
    </p>
    <p>You have <strong>2 possible</strong> starting points:</p>
    <ol>
      <li>
        Creating an playground with <i>pre-stored e-commerce sample data</i> is
        the best way to explorer the functionalities of
        <span class="nr-green-text">no</span>REST
      </li>
      <li>
        An <i>empty playground</i> has no data stored yet and you can explorer
        <span class="nr-green-text">no</span>REST from the ground.
      </li>
    </ol>

    <button
      mat-raised-button
      color="norest"
      (click)="createPlayground(true)"
      [disabled]="isLoading"
    >
      1. Create playground with sample-data
    </button>
    <button
      mat-raised-button
      (click)="createPlayground()"
      [disabled]="isLoading"
    >
      2. Create empty playground
    </button>

    <p>
      If you want to return to an existing playground, simply attach your
      <i>nr-</i> key to the url:
      <img
        src="../assets/example.png"
        alt="Where to put the API-KEY of no-rest"
        class="nr-key-example"
      />
    </p>
    <p>
      You can access the API at any-time with your API-KEY @
      https://api.notonly.rest/nr-xxxxxx. Note that playgrounds might get
      deleted if a certain data volume is reached.
    </p>
  </div>
</div>
