h1,
h2,
h3 {
  font-family: 'Courier New', Courier, monospace;
}

div {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 100%;
  font-weight: 100;
}

strong {
  font-weight: 500;
}

abbr[title], acronym[title] {
  text-decoration: unset;
  border-bottom: 1px dotted;
  cursor: help;
}

div.nr-welcome-text {
  background-color: #f1f1f1;
  display: flex;

   
}


div.nr-welcome {
  padding: 48px;
  font-size: 120%;
  display: flex;
  background-color: #333;
  align-items: center;
  justify-content: center;
  color: #f1f1f1;

  > div {
    width: 50%;

    > img {
      margin: 24px auto;
    }
  }

  .nr-key-example {
    display: flex;
    margin: 4px auto;
    border: 8px solid #fff;
    border-radius: 24px;
    padding: 4px;
  }

  button {
    &:first-of-type {
      color: #fff;
    }
    width: 100%;
    margin: 6px auto 6px auto;

    &:last-of-type {
      margin-bottom: 24px;
    }
  }
}

.nr-features {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 48px;
  justify-content: space-around;
  max-width: 1348px;
  margin: auto;

  > div {
    margin: auto;
    padding: 24px;
    width: 600px;
    display: flex;
    flex-direction: row;
    
    > img {
      margin: 0px 24px;
      width: 120px;
      height: 120px;
      background-repeat: no-repeat;
      background-size: cover;
      border-radius: 60px;
      border: 2px dashed #333;
      padding: 2px;
    }
  }
}

.nr-start {
  background-color: #0fbc3c;
  color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
  padding: 12px;

  > button {
    margin: 0px;
  }

  > input, > select {
    padding: 12px;
    border: 1px solid #fff;
    outline: 0;
    height: 45px;
  }

  > button {
    line-height: 45px;
    border-radius: 0px 5px 5px 0px;
  }

  > h2 {
    margin: 12px;
    line-height: 12px;
    max-width: 400px;
    text-align: right;
  }
  
}

.nr-about {
  font-size: 90%;
  background-color: #fff;
  color: #333;
  padding: 12px 24px 48px 12px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: auto;
  border-top: 1px solid #0fbc3c;
  
  > div {
    max-width: 400px;
    padding: 12px 24px;
  }

}
