div.nr-welcome {
  margin: 24px auto;
  padding: 24px;
  font-size: 120%;
  font-family: 'Courier New', Courier, monospace;
  > img {
    margin: 24px auto;
  }
  > div {
    max-width: 400px;
  }

  .nr-key-example {
    display: flex;
    margin: 4px auto;
    border: 8px solid #fff;
    border-radius: 24px;
    padding: 4px;
  }

  h1, h2 {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
  }

  button {
    &:first-of-type {
      color: #fff;
    }
    width: 100%;
    margin: 6px auto 6px auto;

    &:last-of-type {
      margin-bottom: 24px;
    }
  }
}
